h1,
h2 {
  color: cornflowerblue;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#image-container {
  width: 100%;
  height: 100%;
}
#intro-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

#contact-bar {
  display: flex; /* Or display: inline-block; */
  justify-content: space-around; /* Distribute items evenly */
}
#profile-section {
  flex-direction: column;
  text-align: center;
}
